<!-- Need EJS first -->

<!doctype html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NKP9XJDL2T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NKP9XJDL2T');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">




    <title>Flights For Flaneurs</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="styles.css">


</head>

<body>

    <div class="container">

        <p>1</p>
        <p>

            go somewhere else</p>
        <p>
            take the unbeaten path</p>
        <p></p>
        let fate decide where you end up</p>
        <p></p>
        go on an adventure!</p>
        <br>
        <p>Sometimes you just need to get out of the house</p>
        <p>
            Doesn’t matter where</p>
        <p>
            As long as it’s somewhere
        </p>
        <p>And there is a cozy coffee place to work,
        <p></p>a nice hotel to relax, <p></p>and maybe an opportunity to meet interesting
        people</p>
        <br>
        <p>2</p>
        <p>Few people travel like this</p>
        <p>I tell myself it's creative people who travel like this</p>
        <p>Or is it the people who are lost ...Or want to be lost?</p>
        <p>I once had 2 days off. For me. Only for me. I wanted to leave town and do some thinking, but where?</p>
        <p>It wasn't easy to let fate decide a destination</p>
        <p>Which leads to ...</p>

        <br>
        <p>3</p>
        <p>I think travel websites are boring</p>
        <p>They all offer the same kind of solution</p>
        <p>The data is expensive, there is a big moat, probably why there is little creativity</p>
        <p>(Which is why there are only 3 origins, these 3 alone cost me 50 dollars monthly)</p>
        <br>
        <p>I want to break the boringness <span style="font-size: 1.2rem"><b>and build this for Ryanair, Airasia, or
                    Southwest</b> &#128512</span></p>
        <p> As low-cost airlines are the most obvious for
            this random destination model</p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="footer">
        <p><a href="/">Back to app</a></p>

    </div>
    <script src="index.js"></script>

</body>

</html>