<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">




    <title>Weekend Away</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="stylestempfordev.css">


</head>

<body>
    <!-- <main> -->
    <div class="container">

        <form action="/" method="post">
            <h1 class=" homeTitle">Flights for Flaneurs</h1>
            <h3>You tell us when you want to go and return</h3>
            <h3>We tell you which destinations are available</h3>

            <div class="outercontainer">
                <div class=boxborder>
                    <div class="searchButton">
                        <button type="search">Find <br> Destinations!</button>

                    </div>

                    <div class=origin-note>
                        Origin: Lisbon
                    </div>

                    <div class="inputdata">
                        <div class="departuresDateAndTime">
                            <span class="departureDate">
                                <input type="date" id="departureDateId" name="departureDateName" value="2023-01-13"">
                            </span>
                            <i class=" fas fa-plane-departure planeicon"></i>
                                <span class="departureTimes">
                                    <input class="depTimeOne" type="time" id="departureTimeStartId"
                                        name="departureTimeStartName" value="18:00">
                                    <input type="time" id="departureTimeEndId" name="departureTimeEndName"
                                        value="20:00">
                                </span>
                        </div>
                        <div class="arrivalDateAndTime">
                            <span class="arrivalDate">
                                <input type="date" id="returnDateId" name="returnDateName" value="2023-01-15">
                            </span>
                            <i class="fa-solid fa-plane-arrival planeicon"></i>
                            <span class="arrivalTimes">
                                <input type="time" id="returnTimeStartId" name="returnTimeStartName" value="16:00">
                                <input type="time" id="returnTimeEndId" name="returnTimeEndName" value="18:00">
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="outercontainer">
                <div class=boxborder>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class=origin-note>
                                        Origin: Lisbon
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="departuresDateAndTime">
                                        <span class="departureDate">
                                            <input type="date" id="departureDateId" name="departureDateName"
                                                value="2023-01-13"">
                                        </span>
                                        <i class=" fas fa-plane-departure planeicon"></i>
                                            <span class="departureTimes">
                                                <input class="depTimeOne" type="time" id="departureTimeStartId"
                                                    name="departureTimeStartName" value="18:00">
                                                <input type="time" id="departureTimeEndId" name="departureTimeEndName"
                                                    value="20:00">
                                            </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="arrivalDateAndTime">
                                        <span class="arrivalDate">
                                            <input type="date" id="returnDateId" name="returnDateName"
                                                value="2023-01-15">
                                        </span>
                                        <i class="fa-solid fa-plane-arrival planeicon"></i>
                                        <span class="arrivalTimes">
                                            <input type="time" id="returnTimeStartId" name="returnTimeStartName"
                                                value="16:00">
                                            <input type="time" id="returnTimeEndId" name="returnTimeEndName"
                                                value="18:00">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="searchButtonBootstrap">
                                    <button type="search">Find <br> Destinations!</button>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <!-- <input type="text" id="firstName" placeholder="First" name="fName" required autofocus>
                <input type="text" id="lastName"  placeholder="Last Name" name="lName" required>
                <input type="email" id="inputEmail" placeholder="Email" name="iEmail" required> -->

            <!-- <select name="originName" id="originId" value="Bangkok">
                    <option value="Lisbon">Lisbon</option>
                    <option value="Bangkok">Bangkok</option>
                    <option value="Bali">Bali</option>
                </select> -->

            <br><br><br><br><br><br><br><br><br>

            <p> These destinations are available </p>

            <% for (const child of foundDestinations){ %>


                <p>
                    <%= child.retAirport %>
                </p>



                <% } %>

                    <p> Details</p>

                    <% for (const child of foundDestinations){ %>

                        <p>
                            Departure Airport: <%= child.depAirport %>
                        </p>
                        <p>
                            Departure Time: <%= child.depTime.substring(12) %>
                        </p>
                        <p>
                            Flight Number: <%= child.depFlightNumber %>
                        </p>
                        <p>
                            Destination Airport: <%= child.retAirport %>
                        </p>
                        <p>
                            Return Arrival Time: <%= child.arrTime.substring(12) %>
                        </p>
                        <p>
                            Flight Number: <%= child.retFlightNumber %>
                        </p>
                        <br>

                        <% } %>


                            <p> Destinations are based on historical flight schedules</p>

        </form>
    </div>
    <br>
    <div class="footer">
        <p>&copy; jorisfalter.com</p>

    </div>

    <!-- </main> -->
</body>

</html>