html,
body {
  height: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  /* display: flex; */
  /* align-items: center; */
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

h3 {
  color: gray;
}

.container {
  text-align: center;
  width: 80%;
  margin: auto;
  display: block;
  min-width: 100%;
}

.instruction-question {
  color: red;
  font-weight: bold;
  font-size: 1.3em;
}

.footer {
  display: block;
}

.searchButton {
  /* position: absolute; */
  /* right: 35px;
  top: 0;
  bottom: 0; */
  /* top: 38px; */
}

.searchButtonBootstrap {
  /* position: absolute;
  right: 35px;
  top: 0;
  bottom: 0; */
  /* top: 38px; */
}

button {
  /* background-color: red; */
  color: white;
  background-color: #4caf50; /* Green */
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  /* width: 40%; */
  padding: 0.5rem 1rem 1rem 1rem;
  /* width: fit-content; */
  /* border-radius: 50%; */
  /* top: 50%; */
  /* transform: translateY(30%); */
  /* box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 255, 255, 0.5),
    inset -0.2em -0.2em 0.2em 0 rgba(0, 0, 0, 0.5); */
}

button:hover {
  /* background-color: #4caf50;  */
  background-color: green;
  color: white;
  cursor: pointer;
}

/* @media screen and (min-width: 600px) { */
/* } */

.outercontainer {
  margin: 0 20%;
}

.resultrow {
}

.boxborder {
  border-radius: 8px;
  margin: 0 16px;
  padding: 8px 16px 16px;
  border-width: 0;
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
  /* position: relative; */
}

.origin-note {
  font-size: 0.875rem;
  color: #616161;
  text-align: left;
  padding: 4px;
}

.result-note {
  font-size: 0.875rem;
  color: #616161;
  /* text-align: left; */
  padding: 4px;
}

/* .depTimeOne {
  border-style: none;
} */

input[type="time"] {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0px 4px;
  width: 100px;
  /* border-style: none; */
  /* border-color: #dadce0; */
}
input[type="date"] {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0px 4px;
  /* struggling to get the border colors working */
  /* border-color: #dadce0; */
  /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
  /* border-color: -internal-light-dark(yellow, blue); */

  /* border-radius: 4px; */
}

.inputdata {
  text-align: left;
}

.planeicon {
  margin: 0 10px;
  padding: 0 0 0 3px;
  /* color: #4caf50;  */
}

.mobileSeparator {
  display: none;
}

@media only screen and (max-width: 600px) {
  .planeicon {
    display: none;
  }

  .departureDate,
  .depTimeTwo,
  .depTimeOne,
  .arrivalDate,
  .RetTimeOne,
  .RetTimeTwo {
    margin: 5px 0px;
  }

  .mobileSeparator {
    display: block;
    visibility: hidden;
  }
}

.departureTimes {
  /* border-color: black;
  border-style: solid; */
}

.departuresDateAndTime {
  margin: 4px;
}

.arrivalDateAndTime {
  margin: 4px;
}

/*
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin #firstName {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin #lastName {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */
